@inject IHttpContextAccessor IHttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Tarot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tarot.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body style="scrol">
    <div class="content-wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="~/images/logo-small.png" style="max-width:30%" />
                        Tarot.today
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">

                            </li>
                        </ul>
                        @if (IHttpContextAccessor.HttpContext.Session.GetString("fullname") == null)
                        {
                            <div class="d-flex align-content-end">
                                <a class="btn px-2 text-white text-decoration-underline" href="/register">Đăng Kí</a>
                                <a class="btn text-white px-2 text-decoration-underline" href="/login">Đăng Nhập</a>
                            </div>
                        }
                        else
                        {
                            <div class="d-none d-lg-block">
                                <div class="dropdown-container">
                                    
                                    <div class="nav-item dropdown">
                                        <button class="btn px-2 text-white dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            @if (IHttpContextAccessor.HttpContext.Session.GetString("role") == "reader")
                                            {
                                                <li><a class="dropdown-item" href="/readerprofile">Xem lịch hẹn</a></li>
                                            }
                                            else
                                            {
                                                <li><a class="dropdown-item" href="/readinghistory">Quẻ bói của bạn</a></li>
                                            }
                                            <li><a class="dropdown-item" href="/userprofile">Thông tin người dùng</a></li>
                                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="d-block d-lg-none">
                                <ul class="navbar-nav">
                                    @if (IHttpContextAccessor.HttpContext.Session.GetString("role") == "reader")
                                    {
                                        <li class="nav-item"><a class="nav-link" href="/readerprofile">Xem lịch hẹn</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item"><a class="nav-link" href="/readinghistory">Quẻ bói của bạn</a></li>
                                    }
                                    <li class="nav-item"><a class="nav-link" href="/userprofile">Thông tin người dùng</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        }

                    </div>
                </div>
            </nav>

        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="margin-top:10rem">
        <footer class="footer mt-auto py-3 text-white" style="background-color: #3e065f;padding-top:50px; padding-bottom:50px">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/logo.png" style="max-width:40%" />
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-start mx-5">About</h5>
                        <ul class="text-start" style="list-style:none">
                            <li><a href="/" class="text-white">Our Project</a></li>
                            <li><a href="/" class="text-white">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-start mx-5">Supports</h5>
                        <ul class="text-start" style="list-style:none">
                            <li><a href="/" class="text-white">Supports Service</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>SOCIAL</h5>
                        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <style>
     
  
        .dropdown-menu {
            background-color: transparent; /* Transparent background */
            border: none; /* No border */
            box-shadow: none; /* No shadow */
        }

            /* Styling the links inside the dropdown */
            .dropdown-menu .dropdown-item {
                color: white;
                background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
                transition: background-color 0.3s; /* Smooth transition for hover effect */
            }

                .dropdown-menu .dropdown-item:hover {
                    color: #fcb831;
                    background-color: #3e065f; /* Darker background on hover */
                }



        .footer {
            position: absolute;
            left: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
            margin-top: 50px;
        }

        body {
            max-width: 100vw;
            overflow-x: hidden;
            background-image: url('@Url.Content("~/images/background.png")');
            background-size: cover; /* Optional: to cover the entire viewport */
            -ms-overflow-style: none; /* Internet Explorer và Edge */
            scrollbar-width: none; /* Firefox */
            overflow: -moz-scrollbars-none; /* Cách khác cho Firefox */
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>