.bg-38054b {
    background-color: #38054b;
}

.text-FCB831 {
    color: #FCB831;
}

.btn-outline-FCB831 {
    color: #FCB831;
    border-color: #FCB831;
}

    .btn-outline-FCB831:hover {
        background-color: #FCB831;
        color: #3e065f;
    }

.btn-8e05c2 {
    background-color: #8e05c2;
    color: #FCB831;
    border-radius: 20px;
}

    .btn-8e05c2:hover {
        background-color: #6c0499;
        color: #3e065f;
    }
