.btn-custom {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.img-container {
    background-image: url("images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.custom-card {
    background-color: #8e05c2;
    /* width:30%; */
    border: none; /* Removes the card's border */
    padding: 5px; /* Reduces the card's padding */
}

.custom-card-img {
    margin: 10px auto;
    display: block;
}

.custom-card-body {
    padding: 10px; /* Reduces the card-body's padding */
}

.card:hover {
    cursor: pointer;
}
