@page
@model Tarot.Pages.LoginModel
@{
}

<div class="row">
    <div class="col-6">
        <img src="images/login-img.png" class="img-login" style="max-width:80%;max-height:100%" />
    </div>
    <div class="col-6 text-center">
        <div class="text-center">
            <img src="images/logo-small.png" style="max-width:30%" />
        </div>
        <div class="text-center">
            <label class="my-5" style="color:#700b97; font-size:30px">Hello Reader</label>
        </div>
        <div class="form-container">
            <form class="text-center" method="post">
                <input type="text" asp-for="@Model.username" placeholder="Username" class="form-control mx-auto" style="width:50%" />
                <input type="password" asp-for="@Model.password" placeholder="Password" class="form-control my-3 mx-auto" style="width:50%" />
                <div class="my-3">
                    <input type="checkbox"/>
                    <lable class="text-decoration-underline" style="color:#fcb831;margin-right:18%">Nhớ mật khẩu</lable>
                    <a href="#" class="text-decoration-underline" style="color:#fcb831;">Quên mật khẩu?</a>
                </div>
                <button class="btn btn-lg btn-custom">Đăng Nhập</button>
            </form>
        </div>
    </div>
</div>
<style>
    input {
        background-color: #700b97 !important;
        color: #fcb831 !important;
    }

    .btn-custom{
        font-size:20px;
        font-weight:bold;
        color: #fcb831 !important;
        background-color: #700b97 !important;
        width: 50%;
        border-radius: 30px;
    }

    .img-login{
        padding-left: 300px;
    }
</style>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
