@page
@model Tarot.Pages.MeetingModel
@{
}

<div class="row my-3">
    <img src="~/images/logo.png" style="max-width:10%" class="text-center mx-auto" />
</div>
<div class="row mx-auto">
    <p class="text-center" style="color:#F4DE11"><i>Đăng Ký Tài Khoản</i></p>
</div>