@page
@model TarotReader
<link rel="stylesheet" href="~/css/TarotReader.css" type="text/css" />
@{
    ViewData["Title"] = "Home page";
}
<div class="img-container">
</div>

<div class="row my-4">
    <div class="col-6 text-end">
        <a class="btn btn-lg btn-custom" style="background-color:#3c393c" href="/index">Tarot Online</a>
    </div>
    <div class="col-6">
        <a class="btn btn-lg btn-custom" style="background-color:#3c393c;color:#fcb831" href="/tarotreader">Tarot Readers</a>
    </div>
</div>
@if (Model.readers != null)
{
    <div class="row" style="margin-right:20px">
        @foreach (var item in Model.readers)
        {
            <a href="/readerdetail/@item.ReaderId" class="col-md-3" style="color:#fcb831;margin-left:20px">
                <div class="card custom-card">
                    <img src="/images/reader-avt.png" class="card-img-top custom-card-img" alt="@item.ReaderNavigation.Fullname" style="max-width:80%">
                    <div class="card-body custom-card-body">
                        <h5 class="card-title">@item.ReaderNavigation.Fullname</h5>
                        <p class="card-text">@item.ReaderNavigation.Phone</p>
                        <p class="card-text"><strong>Price:</strong> @item.Price</p>
                    </div>
                </div>
            </a>
        }

    </div>
}

<style>
   

</style>