@page
@model Tarot.Pages.UserProfileModel
@{
}

<div style="background-color: #9f83af;height:100vh">
    <div class="row">
        <img src="~/images/reader-avt.png" style="max-width:10%;margin:auto;border-radius:10px" class="my-3"/>
    </div>
    <div class="row" style="color: #FCB831">
        <div class="col-4 offset-2">
            <p>Tên: Hồng Quân</p>
            <p>Số điện thoại: </p>
            <p>Gmail: haha@haha.haha</p>
        </div>
        <div class="col-4 offset-2">
            <p>Giới tính: Nam</p>
            <p>Tuổi: 21</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-5">
            <a href="/logout" class="btn btn-lg fw-bold" style="background-color:#700b97;color:#FCB831">Đăng xuất</a>
        </div>
    </div>
</div>